@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 12px;
}

.header_div-first {
  width: 100%;
  max-width: 455px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header_div-first-nav {
  width: 100%;
  max-width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_div-first-nav-a {
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: black;
}

.header_div-first-nav-a:hover {
  color: #ffb36c;
}

.header_div-second {
  width: 100%;
  max-width: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header_div-second-btn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #FFB36C;
  font-family: Montserrat Alternates;


}
.header_div-second-btn1 {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #FFB36C;
  font-family: Montserrat Alternates;
  margin-left: 20px;
  margin-right: 20px;

}

.header_div-second-btn:hover {
  background-color: #ffa14a;
}


.header_div-second-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
.modal{
  border-radius: 25px; 
  max-width: 600px;
  margin: 0 auto;
  margin-top: 150px;
}
.modal__h3{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 30px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
}
.modal__container--div{
  margin-bottom: 40px;
  max-width: 440px;
  margin: 0 auto;
}
.modal__container--div--h4{
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}
.modal__container--div--input{
  padding: 17px 0px 16px 20px;
  display: flex;
  margin-bottom: 35px;
  max-width: 440px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #E4E4E4;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ABABAB;
}
.modal__button{
  background-color: #FFB36C;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.modal__p{
  margin: 15px 0px 27px 0px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
}
.header_username{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;

}

.search__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 625px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 60px;
}
.search__container--title{
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-top: 100px;
  margin-bottom: 80px;
}
.search__container--info{
  max-width: 709px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 185px;
}
.search__container--info--text1{
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  max-width: 345px;
}
.search__container--info--text2{
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  max-width: 164px;
  text-align: left;
}
.search__container--info--line{
  height: 144px;
  width: 2px;
  background-color: white;
}
.search__container--searchbox{
  height: 42px;
  margin-bottom: 100px;
  display: flex;
}
.search__container--searchbox--input{
  padding: 13px 386px 12px 29px;
  border: none;
  background-color: #D9D9D9;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #878787;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search__container--searchbox--btn{
  background-color: #FFB36C;
  border-left: 2px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 9px 10px 8px 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.container{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal{
  background-color: rgba(255, 255, 255, 1);
  max-width: 600px;
  width: 100%;
}
.card{
  max-width: 320px;
  background-color: rgba(232, 232, 232, 1);
  border-radius: 20px;
  width: 100%;
}
.card__titles{
  max-width: 260px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card__titles--title{
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}
.card__container--time{
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
} 
.card__container--button{
  padding: 8px 18px 8px 18px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 179, 108, 1);
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.card__container--date{
  display: flex;
  justify-content: space-between;
  max-width: 138px;
  margin: 0 auto;
  margin-right: 107px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 22px;
  margin-top: 15px;
}
.card__container--date--border{
  border: 1px solid black;
  height: 17px;
  width: 1px;
}
.card__container--img{
  height: 120px;
  width: 120px;
}
.card__container--temp{
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 15px;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 39px;
}
.card__footer{
  padding-bottom: 21px;
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.card__footer--btn{
  background-color: rgba(255, 179, 108, 1);
  border: none;
  border-radius: 10px;
  padding: 8px 25px 8px 25px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.card__container--img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer{
  background-color: rgba(255, 179, 108, 1);
}
.footer__container{
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  gap: 103px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 64px;
}
.footer__container--img{
  width: 90px;
  height: 62px;
}
.footer__container--texts--title{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__container--texts--div--p1{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.footer__container--texts--div--p{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__container--texts--div{
  margin-top: 10px;
}
.footer__container--contacts{
  max-width: 160.68px;
  width: 100%;
}
.footer__container--contacts--title{
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__container--contacts--logos{
  margin-top: 10px;
  width: 100%;
  max-width: 160.68px;
  display: flex;
  justify-content: space-between;
}